body{
  background-color: #f2f2f2;
  font-family: 'Baloo Chettan 2', cursive;
}

.container{
  width: 94%;
  margin: auto;
}

header{
  background-color: #292923;
  padding: 10px 0;
}


nav{
  position: absolute;
  top: 10px;
  right: 0;
}
nav h1{
  top: 20px;
  font-style: normal;
  color: white ;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
  font-size: 18px;
  color: #fff;
}

.primeira-caixa{
  position: relative;
  margin: 0 auto;
}

.primeira-caixa h1{
  font-size: 26px;
}

.imagem-inicio img{
  width: 100%;
}

main estudos h3{
  font-style: bold

}

main .formacao{
  margin: 0 auto;
}

main .formacao h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

main .formacao p{
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

main .linguagens h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

main .estudos li{
  font-size: 16px;
}



.imagem-qualquer{
  width: 50%;
}

footer{
  background-color: #292923;
  padding: 10px 0;
}

.ultima-caixa{
  position: relative;
  width: 94px;
  margin: 0 auto;
  margin: 0 auto;
}

footer .ultima-caixa li{
  color: #fff;
}
